.dancers--title {
  text-align: center;
  font-size: 3vw;
}

.dancers {
  padding: 10% 0;
}

.dancers.page-header {
  padding-top: 10%;
}

.dancer-contain {
  overflow: hidden;
}
.dancer-col {
  // width: 100% !important;
  // height: auto !important;

  transition: all .2s ease-in;
  &:hover {
    transform: scale(1.1); 
  }
  flex: 1 25%;
  margin: 1% 3%;

  a {


    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}


.dancer--featured {
  transition: all .2s ease-in;
  &:hover {
    transform: scale(1.1); 
  }
  display: flex;
  margin: 0 auto;
  width: 30%;
  a {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.dancers-grid {
  // display: flex;
  // flex-flow: row wrap;
  // width: 100%;
  // height: auto;
  // justify-content: space-between;
  padding: 5%;

  line-height: 1;
  -webkit-column-count: 3;
  -webkit-column-gap:   1px;
  -moz-column-count:    3;
  -moz-column-gap:      1px;
  column-count:         3;
  column-gap:           1px;

  @media (max-width: 1200px) {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
  @media (max-width: 1000px) {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
  @media (max-width: 800px) {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
  @media (max-width: 400px) {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

.dancer__container {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

.dancer__back {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 1.5vw;
  @media only screen and (max-width: 768px) {
    font-size: 4vw;
  }
}

.dancer-title {
  margin-bottom: 2%;
  font-size: 2vw;
  @media only screen and (max-width: 768px) {
    font-size: 4vw;
  }
}

.dancer__image {
  width: 30%;
}
