// footer
// ------------------------------------------------------------------------------------------------- //

.footer {
  // position: static;
  // width: 100%;
  // background: #3f3f3f;
  // opacity: .7;
  // color: #ffffff;
  // padding: 2% 0;
  // text-align: center;
  // bottom: 0;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2vw;
  @media only screen and (max-width: 768px) {
    padding: 4vw;
  }
  // height: 28vh;
  opacity: .7;
  background: #3f3f3f;
  text-align: center;
  .footainer p {
    font-size: 1.5vw;
    color: antiquewhite;
    @media only screen and (max-width: 768px) {
      font-size: 3.7vw;
    }
    margin-bottom: 2%;
    a {
      text-decoration: none;
      color: #5DBCD2;
    }
  }
}

.foot-hide {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer {
    margin-top: 0 2em 0 2em;
  }
}

.socials {
  margin: 1.5rem 0;
  color: antiquewhite;
}

.socialLinks {
  display: flex;
  width: 20%;
  @media only screen and (max-width: 768px) {
    width: 60%;
  }
  height: auto;
  flex-flow: row;
  justify-content: space-around;
  margin: 0 auto;
  & > * {
    display: flex;
    // flex: 1;
    // margin: 0 3%;
  }
}
