// footer
// ------------------------------------------------------------------------------------------------- //

.footer {
  position: static;
  width: 100%;
  background: #3f3f3f;
  opacity: .7;
  color: #ffffff;
  padding: 3% 0;
  text-align: center;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .footer {
    margin-top: 0 2em 0 2em;
  }
}

.socials {
  margin: 1.5rem 0;
  color: antiquewhite;
}

.socialLinks {
  display: flex;
  width: 30%;
  height: auto;
  flex-flow: row;
  justify-content: space-around;
  margin: 0 auto;
  & > * {
    display: flex;
    // margin: 0 3%;
  }
}
