// footer
// ------------------------------------------------------------------------------------------------- //

.footer {
  position: static;
  width: 100%;
  background: #3f3f3f;
  opacity: .7;
  color: #ffffff;
  padding: 2% 0;
  text-align: center;
  bottom: 0;
  .footainer p {
    font-size: 1.5vw;
    @media only screen and (max-width: 768px) {
      font-size: 3.5vw;
    }
    margin-top: 2%;
    a {
      text-decoration: none;
      color: red;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    margin-top: 0 2em 0 2em;
  }
}

.socials {
  margin: 1.5rem 0;
  color: antiquewhite;
}

.socialLinks {
  display: flex;
  width: 30%;
  @media only screen and (max-width: 768px) {
    width: 60%;
  }
  height: auto;
  flex-flow: row;
  justify-content: space-around;
  margin: 0 auto;
  & > * {
    display: flex;
    // flex: 1;
    // margin: 0 3%;
  }
}
