.historySection {
  padding: 3% 0;
}

.mainHistory {
  text-align: center;
  padding: 0 20%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .mainHistory {
    padding: 5% 10%;
  }
}
