// .Intro {
.homeSection {
  height: 100vh;
  // background: no-repeat top center url('../../../public/uploads/foto2.jpg');
  // background-size: cover;
  position: relative;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  //   opacity: .6; 
  // }
  .home__background {
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
  }

  .Intro {
    z-index: 1;
    position: relative;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


@media (max-width: 768px) {
  .Intro {
    padding: 80% 0;
  //   height: 53em;
  }

  .jumboCarousel {
    padding: 15% 0;
    height: 47em;
  }

}

.introText {
  color: floralwhite;
}

.greyBox {
  // background: rgba(63, 63, 63, .8);
  color: white;
  // margin-right: 10%;
  margin-bottom: 5%;

  .intro-title {
    font-size: 4vw;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 8vw;
    }
    // margin-left: 10%;
  }
  .intro-subtitle {
    font-size: 2vw;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 5vw;
    }
  }
}

