.event {
  display: flex;
  margin: 3% 0;
  flex-direction: row;
  // border: 2px solid #000000;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.event-media {
  width: 30%;
  .event-image {
    height: 100%;
    width: 100%;
  }
}

.eventData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2vw;
    @media only screen and (max-width: 768px) {
      font-size: 3vw;
    }
  width: 70%;
  color: black;
  text-align: center;
  // background: rgba(63, 63, 63, .6);
  // background: linear-gradient(to bottom right,#002f4b,#dc4225);
  background: linear-gradient(to bottom right,#ffffff,#5DBCD2);
  padding: 5% 0;
}

.presentation__container {
  padding: 0% 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.presentation {
  display: block;
}

.pres-header {
  font-size: 45px;
  text-align: center;
  margin-bottom: 5%;
}
